[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = {version="*"}
certifi = {version="*"}
cffi = {version="*"}
chardet = {version="*"}
click = {version="*"}
cryptography = {version="*"}
enum34 = {version="*"}
flask = {version=">=1.1.1"}
idna = {version="*"}
ipaddress = {version="*"}
itsdangerous = {version="*"}
jinja2 = {version="*"}
markupsafe = {version="*"}
pycparser = {version="*"}
pyopenssl = {version="*"}
pysolr = {version="*"}
python-dateutil = {version="*"}
requests = {version="*"}
six = {version="*"}
urllib3 = {version = ">=1.24.2"}
watson-developer-cloud = {version="*"}
werkzeug = {version="*"}

[requires]
python_version = "3.7"
